---
layout: default
---

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;

/* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>

<body>
<div class="container content page">
  <div class="row">
    <div class="column">
          <h3 class="page-title">{{ page.name }}</h3><br>
          <div class="white-space: nowrap">
          <h3>
          <a href="mailto:{{page.email}}"><i class="fa fa-envelope"></i></a>
          <a href="https://twitter.com/{{page.twitter}}"><i class="fa fa-twitter"></i></a>
          <a href="{{page.linkedin}}"><i class="fa fa-linkedin square"></i></a>
          <a href="https://scholar.google.com/citations?user={{page.googlescholar}}=en"><i class="ai ai-google-scholar-square"></i></a><nobr>
          <a href="https://orcid.org/{{page.orcid}}"><img src="{{site.baseurl}}/images/logo/ORCID.png"></img></a>
          </h3>
        </div>
          </div>
      <div class= "column; text-align:right">
        <img width="300px" src="{{site.baseurl}}/images/people/{{page.avatar}}">
      </div>
      </div>
      {{content}}
      </div>
</body>
